
.draw-panel-container {
    background: #000 url(/assets/sample.jpg) no-repeat;
    background-size:900px 400px;
    width: 900px;
    height: 400px;
}
.print-item {
    position: absolute;
    top: 150px;
    left: 200px;
    padding: 5px;
    border: 1px #666 solid;
    border-radius: 2px;
    user-select: none;
    cursor: hand;
    resize: both;
    overflow:auto; // important for resizing
    & .el-icon-close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        font-weight: bold;
        color: #e33;
        transform: scale(0.6) // 6px
    }
}
.draw-panel-footer {
    position: relative;
    top:400px;
    left: 650px;
}